.heyy{
    display: flex;
    justify-content: center;
    padding-top: 20%;
}
/* do for screen mobiles */
@media only screen and (max-width: 600px) {
    .heyy{
        display: flex;
        justify-content: center;
        padding-top: 90%;
    }
}