@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: black;
}
.wopper{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wopper .left{
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  display: flex;
}
.wopper .left img{
  height: 100px;
  border-radius: 10px;
}
.wopper .right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  display: flex;
}
.wopper .right p{
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.wopper .center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .vertical-bar {
  width: 1px; /* Ancho de la barra */
  height: 30px; /* Altura de la barra */
  background-color: black; /* Color de la barra */
}
.bottom{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
}
.bottom a{
  text-decoration: none;
  color: black;
  margin-inline: 20px;
  transition: 500ms;
}
.bottom p{
  user-select: none;
}
.bottom a:hover{
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  line-height: 15pt;
  transition: 500ms;
}