@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');




body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    padding: 20px;
    font-size: 20px;
}

#input-container {
    display: flex;
    align-items: center;
}

#input {
    flex-grow: 1;
    margin-left: 7px;
    background-color: transparent;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    outline: none;
    font-size: 20px;
}

#output {
    margin-top: 10px;
    font-weight: 0;
}
.hostname {
    color: rgb(0, 177, 0);
}
.hostname2 {
    color: rgb(73, 73, 255);
}
a{
    color:white;
}